#btnCustomer{
    -fx-border-color: #000000;
}

#btnEmployee {
    -fx-border-color: #000000;
}

#btnMeasurement{
    -fx-border-color: #000000;

}

#btnMaterial{
    -fx-border-color: #000000;
}

#btnOrders{
    -fx-border-color: #000000;
}

#btnGarment{
    -fx-border-color: #000000;
}

#btnHome{
    -fx-border-color: #000000;

}